.home {
  padding: 24px 32px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.home h1 {
  font-size: 38px;
}

.home h2 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #f0e400 0%, #f30000 60%);
  color: transparent;
  font-size: 28px;
}

.home h3 {
  font-size: 24px;
  margin-bottom: 32px;
}

.home_greeting {
  color: #9c9da0;
}

.description {
  /* color: #9c9da0; */
  margin: 16px 0 48px;
}
