.app {
  display: grid;
  grid-template-columns: auto 1fr;
}

.actual_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

@media (max-width: 1023px) {
  .app {
    grid-template-columns: none;
  }
}
